<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>iWatch</title>
    <link rel="stylesheet" type="text/css" href="../styles/vendors/jquery.fullPage.css">
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css">
</head>

<body>
    <div id="fullpage">
        <div class="section section1">
            <h1>她，终于来了！</h1>
            <p>
                不爱了，很难爱了，我成了一条被你淤积的河。不爱了，不能爱了，你的脸都留在那场梦了。。。因为我爱过了!
            </p>
            <a href="#">更懂她</a>
        </div>
        <div class="section section2">
            <h1>真正与你贴近的个人设备</h1>
            <a href="#">更懂她</a>
        </div>
        <div class="section section3">
            <h1>非同一般的精准计时</h1>
            <p>
                不爱了，很难爱了，整个人失控为你悬着挂着。不爱了，不能爱了，我的心装不下另一份爱。。。因为我爱过了!
            </p>
            <a href="#">更懂她</a>
        </div>
        <div class="section section4">
            <h1>在三个特点鲜明的系列中找到属于你的风格</h1>
            <div class="row">
                <div class="column">
                    <img src="../images/primary_large_2x.jpg" alt="" class="primary">
                    <h4 class="primary"></h4>
                    <div class="intro">
                        <p>
                            当你想到软件时，会认为公司开发的软件都是提供给客户使用的。 但实际上你不太可能在这样的公司工作。
                        </p>
                        <a href="#" class="more">了解更多</a>
                    </div>
                </div>
                <div class="column">
                    <img src="../images/sport_large_2x.jpg" alt="" class="sport">
                    <h4 class="sport"></h4>
                    <div class="intro">
                        <p>
                            当你想到软件时，会认为公司开发的软件都是提供给客户使用的。 但实际上你不太可能在这样的公司工作。
                        </p>
                        <a href="#" class="more">了解更多</a>
                    </div>
                </div>
                <div class="column">
                    <img src="../images/edition_large_2x.jpg" alt="" class="edit">
                    <h4 class="edit"></h4>
                    <div class="intro">
                        <p>
                            当你想到软件时，会认为公司开发的软件都是提供给客户使用的。 但实际上你不太可能在这样的公司工作。
                        </p>
                        <a href="#" class="more">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/vendors/jquery.js"></script>
    <script src="../scripts/vendors/jquery.easings.min.js"></script>
    <script src="../scripts/vendors/jquery.slimscroll.min.js"></script>
    <script src="../scripts/vendors/jquery.fullPage.js"></script>
    <script src="../scripts/vendors/move.js"></script>
    <script src="../scripts/js/iWatch.js"></script>
    <script type="text/javascript">
    var iWatch = new iWatch();
    </script>
</body>

</html>
