<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iWatch</title>
    <link rel="stylesheet" type="text/css" href="../styles/vendors/jquery.fullPage.css">
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css">
</head>
<body>
    <div id="fullpage">
        <div class="section section1">
            <h1>他，终于来了！</h1>
            <p>
                慕课网(IMOOC)是学习编程最简单的免费平台。慕课网提供了丰富的移动端开发、php开发、web前端、html5教程以及css3视频教程等课程资源。
            </p>
            <a href="#">进一步了解</a>
        </div>

        <div class="section section2">
            <h1>真正与你贴近的个人设备</h1>
            <a href="#">进一步了解</a>
        </div>

        <div class="section section3">
            <h1>非同一般的精准计时</h1>
            <p>
                慕课网是垂直的互联网IT技能免费学习网站。以独家视频教程、在线编程工具、学习计划、问答社区为核心特色。
                在这里，你可以找到最好的互联网技术牛人，也可以通过免费的在线公开视频课程学习国内领先的互联网IT技术。
            </p>
            <a href="#">进一步了解</a>
        </div>

        <div class="section section4">
            <h1>在三个特点鲜明的系列中找到属于你的风格</h1>
            <div class="row">
                <div class="column">
                    <img src="../images/primary_large_2x.jpg" alt="" class="primary">
                    <h4 class="primary"></h4>
                    <div class="intro">
                        <p>
                            当你想到软件时，会认为公司开发的软件都是提供给客户使用的。
                            但实际上你不太可能在这样的公司工作。
                        </p>
                        <a href="#" class="more">了解更多</a>
                    </div>
                </div>

                <div class="column">
                    <img src="../images/sport_large_2x.jpg" alt="" class="sport">
                    <h4 class="sport"></h4>
                    <div class="intro">
                        <p>
                            当你想到软件时，会认为公司开发的软件都是提供给客户使用的。
                            但实际上你不太可能在这样的公司工作。
                        </p>
                        <a href="#" class="more">了解更多</a>
                    </div>
                </div>

                <div class="column">
                    <img src="../images/edition_large_2x.jpg" alt="" class="edit">
                    <h4 class="edit"></h4>
                    <div class="intro">
                        <p>
                            当你想到软件时，会认为公司开发的软件都是提供给客户使用的。
                            但实际上你不太可能在这样的公司工作。
                        </p>
                        <a href="#" class="more">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/vendors/jquery.js"></script>
    <script src="../scripts/vendors/jquery.easings.min.js"></script>
    <script src="../scripts/vendors/jquery.slimscroll.min.js"></script>
    <script src="../scripts/vendors/jquery.fullPage.js"></script>
    <script src="../scripts/vendors/move.js"></script>
    <script src="../scripts/js/iWatch.js"></script>
    <script type="text/javascript">
        var iWatch = new iWatch();
    </script>
</body>
</html>