@charset "utf-8";
.tudou_main {
  width: 616px;
  margin: 0 auto;
}
.title {
  height: 62px;
  line-height: 62px;
  border-top: 1px solid #d0d0d0;
  margin-top: 20px;
}
.title h3 {
  color: #575757;
  font: 22px/62px "微软雅黑";
  width: 106px;
  height: 61px;
  border-top: 2px solid #f97374;
  margin-top: -1px;
  position: relative;
  float: left;
  display: inline;
}
.title_nav {
  float: right;
  display: inline;
  list-style: none;
}
.title_nav li {
  float: left;
  display: inline;
}
.title_nav a {
  margin: 0 8px;
  font-size: 14px;
  text-decoration: none;
  color: #666;
}
.title_nav a:hover {
  color: red;
}
